---
import type { Product } from '@types'

interface Props {
  productName: string
  productImages: Product['images']
}

const { productName, productImages } = Astro.props
---

{
  productImages.length > 1 && (
    <ul class="flex gap-2 flex-wrap">
      {productImages.map((img) => (
        <li>
          <button
            data-product-thumbnail
            data-image-src={img}
            class="
              size-14
              rounded
              cursor-pointer
              hover:border
              hover:border-black"
          >
            <img src={img} alt={productName} class="size-full object-cover" />
          </button>
        </li>
      ))}
    </ul>
  )
}

<script>
  document.addEventListener('astro:page-load', () => {
    const mainImage = document.getElementById(
      'product-main-image',
    ) as HTMLImageElement | null
    const thumbnails = document.querySelectorAll<HTMLButtonElement>(
      '[data-product-thumbnail]',
    )

    thumbnails.forEach((thumb) => {
      thumb.addEventListener('click', () => {
        const src = thumb.dataset.imageSrc
        if (mainImage && src) {
          mainImage.src = src
        }
      })
    })
  })
</script>
