---
import { getLang, getTranslations } from '@utils/i18'

const { aboutUsP1, aboutUsP2 } = getTranslations(Astro.params)
---

<section class="mb-15 lg:mb-20 px-10 md:px-25 xl:px-60">
  <div class="flex flex-col lg:flex-row gap-8 lg:gap-12 items-start">
    <img class="w-full h-auto" src="/assets/cliffrise-team.png" />
    <div class="order-2 space-y-6">
      <img
        id="about-us"
        class="w-40 sm:w-50 h-auto"
        src={`/titles/${getLang(Astro.params)}/about-us-title.svg`}
        alt="About Us"
        loading="lazy"
      />
      <article class="text-sm sm:text-base leading-5 pl-6 md:pl-10">
        <p>
          {aboutUsP1}
        </p>
        <p>
          {aboutUsP2}
        </p>
      </article>
    </div>
  </div>
</section>
