---
import { getImage } from 'astro:assets'
import { getLang, getTranslations } from '@utils/i18'
import AboutTitleEn from '../assets/titles/en/about-us.svg'
import AboutTitleBg from '../assets/titles/bg/about-us.svg'

const { causeP1, causeP2 } = getTranslations(Astro.params)

const aboutTitle = await getImage({
  src: getLang(Astro.params) === 'bg' ? AboutTitleBg : AboutTitleEn,
  widths: [200, 400],
  formats: ['avif', 'webp', 'png'],
  quality: 80,
  alt: 'Cause Title',
})
---

<section class="mb-15 lg:mb-20 px-10 md:px-25 xl:px-60">
  <div class="flex flex-col lg:flex-row gap-8 lg:gap-12 items-start">
    <img class="w-full h-auto" src="/assets/cliffrise-team.png" />
    <div class="order-2 space-y-6">
      <img
        id="about-us"
        class="w-40 sm:w-50 h-auto"
        src={aboutTitle.src}
        {...aboutTitle.attributes}
      />
      <article class="text-sm sm:text-base leading-5 pl-6 md:pl-10">
        <p>
          {causeP1}
        </p>
        <p>
          {causeP2}
        </p>
      </article>
    </div>
  </div>
</section>
