---
import { Image } from 'astro:assets'
import { getTranslations } from '@utils/i18'
import CliffriseTeamImg from '@assets/images/me_and_alex.webp'

const { aboutUsP1, aboutUsP2, aboutUs } = getTranslations(Astro.params)
---

<section class="px-5 md:px-15 xl:px-55">
  <div class="flex flex-col lg:flex-row gap-8 lg:gap-12 xl:gap-25 items-start">
    <Image
      src={CliffriseTeamImg}
      alt="Cliffrise Team"
      class="w-full md:w-[90vw] lg:w-[45vw] xl:w-[35vw] h-auto order-1 lg:order-2 self-end"
      widths={[400, 800, 1200]}
      sizes="(max-width: 767px) calc(100vw - 80px), (max-width: 1023px) calc(100vw - 200px), (min-width: 1024px) 43vw"
      quality={80}
      loading="lazy"
      decoding="async"
    />
    <div class="order-2 space-y-6">
      <h1 class="nafta-brush text-[45px] md:text-[55px] lg:text-[80px] mb-4">
        {aboutUs}
      </h1>
      <article class="font-normal text-black text-lg leading-6 px-6 md:pl-10">
        <p class="mb-5">
          {aboutUsP1}
        </p>
        <p>
          {aboutUsP2}
        </p>
      </article>
    </div>
  </div>
</section>
