---
import { getTranslations } from '@utils/i18'
import { Image } from 'astro:assets'
import CityOfTetevenImg from '@assets/images/cliffrise-team.webp'

const { causeP1, causeP2, ourMission } = getTranslations(Astro.params)
---

<section class="px-5 md:px-15 xl:px-55 mb-10">
  <div class="flex flex-col lg:flex-row gap-8 lg:gap-30 items-start">
    <Image
      class="w-full lg:w-auto h-auto order-1 lg:order-2"
      src={CityOfTetevenImg}
      alt="Cliffrise Team"
      widths={[400, 800, 1200]}
      sizes="(max-width: 767px) calc(100vw - 80px), (max-width: 1023px) calc(100vw - 200px), 35vw"
      quality={80}
      loading="lazy"
      decoding="async"
    />
    <div class="order-2 lg:order-1 space-y-2" id="our-cause">
      <h1
        aria-label="Our Cause"
        class="nafta-brush text-[45px] md:text-[55px] lg:text-[80px] mb-6"
      >
        {ourMission}
      </h1>
      <article class="font-normal text-black text-lg leading-6 px-6 md:pl-10">
        <p class="mb-5">
          {causeP1}
        </p>
        <p>
          {causeP2}
        </p>
      </article>
    </div>
  </div>
</section>
