---
import { TETEVEN_CLIMB_2026 } from '@data/events'

type Props = {
  text: string
}

const { text } = Astro.props
---

<a
  href={TETEVEN_CLIMB_2026.url}
  target="_blank"
  rel="noopener noreferrer"
  class="font-bold
    tracking-wider
    uppercase
    text-center
    px-4 py-2
    lg:px-6 md:py-3 text-base
    md:text-lg lg:text-2xl
    bg-black text-white hover:bg-black/90 hover:text-white"
>
  {text}
</a>
