---
type Props = {
  text: string
}

const { text } = Astro.props
---

<a
  href="https://fb.me/e/7ebntwiFq"
  target="_blank"
  rel="noopener noreferrer"
  class="absolute
    text-xl
    phone-portrait:text-sm
    bottom-6
    right-15
    phone-portrait:pt-2
    phone-portrait:px-6
    phone-landscape:px-6
    phone-portrait:bottom-3
    phone-portrait:right-10
    phone-landscape:text-xl
    short-screen-landscape:text-lg
    md:p-3 md:px-8
    font-bold
    tracking-wider
    uppercase
    text-center
    bg-white
    hover:bg-black
    hover:text-white"
>
  {text}
</a>
