---
import { getImage } from 'astro:assets'
import FeedbackCarousel from '../ui/carousel/FeedbackCarousel'
import MateiImg from '@assets/images/matei.webp'
import IvayloImg from '@assets/images/the_maniac.webp'
import CvetyImg from '@assets/images/cvety.webp'
import XeniaImg from '@assets/images/xenia.webp'
import { getTranslations } from '@utils/i18'

const MateiImage = await getImage({
  src: MateiImg,
  width: 160,
  height: 160,
  format: 'webp',
})

const translation = getTranslations(Astro.params)
const { maniac, matey, cvety, xenia } = translation.feedbacks

const IvayloImage = await getImage({
  src: IvayloImg,
  width: 160,
  height: 160,
  format: 'webp',
})

const CvetyImage = await getImage({
  src: CvetyImg,
  width: 160,
  height: 160,
  format: 'webp',
})

const XeniaImage = await getImage({
  src: XeniaImg,
  width: 160,
  height: 160,
  format: 'webp',
})

const feedbacks = [
  {
    author: 'Matey Mitcev',
    text: matey,
    image: MateiImage,
  },
  {
    author: 'The Maniac',
    text: maniac,
    image: IvayloImage,
  },
  {
    author: 'Cveta Paunova',
    text: cvety,
    image: CvetyImage,
  },
  {
    author: 'Xenia Cotlearova',
    text: xenia,
    image: XeniaImage,
  },
  {
    author: 'Dimitar Stoyanov',
    text: 'Fast shipping and great packaging! My order from CliffRise arrived quickly and in perfect condition.',
    image: MateiImage,
  },
  {
    author: 'Nina Petrova',
    text: 'CliffRise is my go-to store for all things climbing. Their products are reliable, and their prices are unbeatable.',
    image: IvayloImage,
  },
]
---

<section class="px-3 md:px-10">
  <FeedbackCarousel reviews={feedbacks} client:visible />
</section>
