---
import { getImage } from 'astro:assets'
import FeedbackCarousel from '../ui/carousel/FeedbackCarousel'
import MateiImg from '@assets/images/matei.webp'
import IvayloImg from '@assets/images/the_maniac.webp'
import CvetyImg from '@assets/images/cvety.webp'
import XeniaImg from '@assets/images/xenia.webp'
import BatDidoImg from '@assets/images/bat-dido.webp'
import { getTranslations } from '@utils/i18'

const MateiImage = await getImage({
  src: MateiImg,
  width: 160,
  height: 160,
  format: 'webp',
})

const translation = getTranslations(Astro.params)
const {
  maniac,
  matey,
  cvety,
  xenia,
  'bat-dido': batDido,
  maniacName,
  mateyName,
  cvetyName,
  xeniaName,
  'bat-didoName': batDidoName,
} = translation.feedbacks

const IvayloImage = await getImage({
  src: IvayloImg,
  width: 160,
  height: 160,
  format: 'webp',
})

const CvetyImage = await getImage({
  src: CvetyImg,
  width: 160,
  height: 160,
  format: 'webp',
})

const XeniaImage = await getImage({
  src: XeniaImg,
  width: 160,
  height: 160,
  format: 'webp',
})

const BatDidoImage = await getImage({
  src: BatDidoImg,
  width: 160,
  height: 160,
  format: 'webp',
})

const feedbacks = [
  {
    author: mateyName,
    text: matey,
    image: MateiImage,
  },
  {
    author: maniacName,
    text: maniac,
    image: IvayloImage,
  },
  {
    author: cvetyName,
    text: cvety,
    image: CvetyImage,
  },
  {
    author: xeniaName,
    text: xenia,
    image: XeniaImage,
  },
  {
    author: batDidoName,
    text: batDido,
    image: BatDidoImage,
  },
]
---

<section class="px-3 md:px-10">
  <FeedbackCarousel reviews={feedbacks} client:visible />
</section>
