---
import type { ImageMetadata } from 'astro'
import FeedbackCarousel from '../ui/carousel/FeedbackCarousel'
import MateiImg from '@assets/images/matei.webp'
import IvayloImg from '@assets/images/the_maniac.webp'
import CvetyImg from '@assets/images/cvety.webp'
import XeniaImg from '@assets/images/xenia.webp'
import BatDidoImg from '@assets/images/bat-dido.webp'
import { getTranslations } from '@utils/i18'
import { renderSizedImage } from '@utils/image'

const translation = getTranslations(Astro.params)
const {
  maniac,
  matey,
  cvety,
  xenia,
  'bat-dido': batDido,
  maniacName,
  mateyName,
  cvetyName,
  xeniaName,
  'bat-didoName': batDidoName,
} = translation.feedbacks

const renderPortrait = (image: ImageMetadata) =>
  renderSizedImage(image, { width: 160, height: 160 })

const [BatDidoImage, CvetyImage, IvayloImage, XeniaImage, MateiImage] =
  await Promise.all([
    renderPortrait(BatDidoImg),
    renderPortrait(CvetyImg),
    renderPortrait(IvayloImg),
    renderPortrait(XeniaImg),
    renderPortrait(MateiImg),
  ])

const feedbacks = [
  { author: batDidoName, text: batDido, image: BatDidoImage },
  { author: cvetyName, text: cvety, image: CvetyImage },
  { author: maniacName, text: maniac, image: IvayloImage },
  { author: xeniaName, text: xenia, image: XeniaImage },
  { author: mateyName, text: matey, image: MateiImage },
]
---

<section class="px-3 md:px-10">
  <FeedbackCarousel reviews={feedbacks} client:visible />
</section>
