---
import { getImage } from 'astro:assets'
import FeedbackCarousel from '../ui/carousel/FeedbackCarousel'
import MateiImg from '@assets/images/matei.webp'
import IvayloImg from '@assets/images/the_maniac.webp'
import { getTranslations } from '@utils/i18'

const MateiImage = await getImage({
  src: MateiImg,
  width: 160,
  height: 160,
  format: 'webp',
  quality: 80,
})

const translation = await getTranslations(Astro.params)
const { maniac, matey } = translation.feedbacks

const IvayloImage = await getImage({
  src: IvayloImg,
  width: 160,
  height: 160,
  format: 'webp',
  quality: 80,
})

const feedbacks = [
  {
    author: 'Matey Mitcev',
    text: matey,
    image: MateiImage,
  },
  {
    author: 'The Maniac',
    text: maniac,
    image: IvayloImage,
  },
  {
    author: 'Georgi Ivanov',
    text: 'CliffRise offers an amazing selection of climbing gear at competitive prices. Their customer support is top-notch!',
    image: MateiImage,
  },
  {
    author: 'Elena Kolarova',
    text: 'The team at CliffRise is knowledgeable and passionate about climbing. They helped me find the perfect gear for my needs.',
    image: MateiImage,
  },
  {
    author: 'Dimitar Stoyanov',
    text: 'Fast shipping and great packaging! My order from CliffRise arrived quickly and in perfect condition.',
    image: MateiImage,
  },
  {
    author: 'Nina Petrova',
    text: 'CliffRise is my go-to store for all things climbing. Their products are reliable, and their prices are unbeatable.',
    image: IvayloImage,
  },
]
---

<section class="px-3 md:px-10">
  <FeedbackCarousel reviews={feedbacks} client:visible />
</section>
