---
import { getLang, getTranslations } from '@utils/i18'
import { getProducts } from '@data/products'
import ProductsCarousel from '../ui/carousel/ProductsCarousel'

const translations = getTranslations(Astro.params)
const lang = getLang(Astro.params)
const products = await getProducts(lang)
---

<section id="products" class="flex-col justify-center px-3 md:px-7 lg:px-10">
  <h2 class="mb-7 lg:mb-10">
    <img
      class="w-[150px] lg:w-[235px] m-auto"
      alt="Products with mission"
      src={`/titles/${lang}/products.svg`}
      loading="lazy"
    />
  </h2>
  <ProductsCarousel
    products={products}
    buttonText={translations.buyNow}
    lang={lang}
    client:visible
  />
</section>
