---
import { getLang, getTranslations } from '@utils/i18'
import { getProducts } from '@data/products'
import { getImage } from 'astro:assets'
import ProductsCarousel from '../ui/carousel/ProductsCarousel'
import type { ImageMetadata } from 'astro'
import { isString } from '@utils/func'

const translations = getTranslations(Astro.params)
const lang = getLang(Astro.params)
const products = await getProducts(lang)

const carouselProducts = await Promise.all(
  products.map(async (product) => {
    const image = isString(product.image)
      ? product.image
      : (
          await getImage({
            src: product.image as ImageMetadata,
            width: 800,
            height: 800,
            format: 'webp',
            quality: 80,
          })
        ).src
    return { ...product, image }
  }),
)
---

<section id="products" class="flex-col justify-center px-3 md:px-7 lg:px-10">
  <h2 class="mb-7 lg:mb-10 flex justify-center">
    <img
      class="w-[240px] h-[100px]"
      alt="Products with mission"
      src={`/titles/${lang}/products.svg`}
      loading="lazy"
    />
  </h2>
  <ProductsCarousel
    products={carouselProducts}
    buttonText={translations.buyNow}
    lang={lang}
    client:visible
  />
</section>
