---
import { getLang, getTranslations } from '@utils/i18'
import { getProducts } from '@data/products'
import ProductsCarousel from '../ui/carousel/ProductsCarousel'
import { prepareProductCards } from '@utils/image'

const translations = getTranslations(Astro.params)
const lang = getLang(Astro.params)
const products = await getProducts(lang)
const carouselProducts = await prepareProductCards(products)
---

<section id="products" class="flex-col justify-center px-3 md:px-15">
  <h1
    class="nafta-brush text-[45px] md:text-[55px] lg:text-[80px] mb-4 text-center leading:10 md:leading-20 md:mb-10"
  >
    {translations.products}
  </h1>
  <ProductsCarousel
    products={carouselProducts}
    buttonText={translations.buyNow}
    lang={lang}
    client:visible
  />
</section>
