---
import { getTranslations } from '@utils/i18'
const { quote } = getTranslations(Astro.params).quotesSection
---

<p class="flex items-center justify-center">
  <b class="lh-[44px] w-5/6 xl:w-3/6 text-xl lg:text-2xl"><q>{quote}</q></b>
</p>
