---
type Props = {
  officeName?: string
  changeText: string
}

const { officeName, changeText } = Astro.props
---

<div
  id="office-selected-state"
  class:list={[
    'flex items-center justify-between gap-4',
    { hidden: !officeName },
  ]}
>
  <div class="flex flex-col gap-0.5 min-w-0 flex-1">
    <span id="speedy-office-name" class="text-sm block px-3 pt-2"
      >{officeName}</span
    >
    <span id="speedy-fee" class="text-sm font-medium text-gray-700 px-3 pb-2"
    ></span>
  </div>
  <button
    type="button"
    id="speedy-change"
    class="text-sm underline shrink-0 px-3"
  >
    {changeText}
  </button>
</div>
