---
import ContactFormHeader from './ContactFormHeader.astro'
import ContactFormFields from './ContactFormFields.astro'
import { getTranslations } from '@utils/i18'

const translations = getTranslations(Astro.params)
---

<dialog
  id="contactFormModal"
  class="fixed left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2
         pb-20 px-7 lg:pb-15 lg:px-10
         w-screen h-screen lg:w-125 lg:h-fit
         max-w-none max-h-none
         shadow-lg
         overflow-hidden
         backdrop:bg-black/50 backdrop:backdrop-blur-sm"
>
  <div class="flex flex-col h-full overflow-y-auto">
    <ContactFormHeader />
    <ContactFormFields />
    <div
      class="hidden text-xl text-center py-10 px-5 border-t border-b border-black mt-20"
      role="alert"
      data-form-success-msg
    >
      <b>{translations.contactForm.message.success.part1}</b>
      {translations.contactForm.message.success.part2}
    </div>
  </div>
</dialog>

<script>
  import { actions } from 'astro:actions'
  import { getContactFormElements } from './contactFormUtils'

  document.addEventListener('astro:page-load', () => {
    const {
      dialog,
      form,
      submitButton,
      successMessageDiv,
      errorMessageDiv,
      buttonSubmittingText,
      buttonDefaultText,
    } = getContactFormElements()

    if (form && submitButton) {
      form.addEventListener('submit', async (e) => {
        e.preventDefault()

        submitButton.disabled = true
        buttonDefaultText?.classList.add('hidden')
        buttonSubmittingText?.classList.remove('hidden')

        try {
          const formData = new FormData(form)
          const { error } = await actions.contact(formData)

          if (!error) {
            errorMessageDiv?.classList.remove('hidden')
            return
          }

          successMessageDiv?.classList.remove('hidden')
          form.reset()
          form.classList.add('hidden')
        } finally {
          buttonDefaultText?.classList.remove('hidden')
          buttonSubmittingText?.classList.add('hidden')
          setTimeout(() => {
            submitButton.disabled = false
            successMessageDiv?.classList.add('hidden')
            // dialog?.close()
          }, 4000)
        }
      })
    }
  })
</script>
