---
import { getLang, getTranslations } from '@utils/i18'
import { getImage } from 'astro:assets'
import CauseTitleEn from '../../assets/titles/en/cause-title.svg'
import CauseTitleBg from '../../assets/titles/bg/cause-title.svg'

const lang = getLang(Astro.params)

const causeTitle = await getImage({
  src: lang === 'bg' ? CauseTitleBg : CauseTitleEn,
  widths: [200, 400],
  formats: ['avif', 'webp', 'png'],
  quality: 80,
  alt: 'Cause Title',
})
const translations = getTranslations(Astro.params)
---

<form method="dialog" class="flex justify-end w-full h-20 lg:h-15 sticky top-0">
  <button type="submit" aria-label="Close modal" class="p-2">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <line x1="18" y1="6" x2="6" y2="18"></line>
      <line x1="6" y1="6" x2="18" y2="18"></line>
    </svg>
  </button>
</form>
<h2 class="flex items-center justify-center text-3xl font-bold mb-10">
  <span> {translations.contactForm.support} </span>
  <img
    class="h-[40px] lg:h-[50px] w-fit ml-2 lg:ml-4"
    src={causeTitle.src}
    {...causeTitle.attributes}
  />
</h2>
<p class="text-center mb-7">
  <b class="text-xl">{translations.contactForm.description1}</b>
  <span class="text-lg lg:text-xl block">
    {translations.contactForm.description2}
  </span>
</p>
