---
import { getTranslations } from '@utils/i18'

const translations = getTranslations(Astro.params)
const { contactForm } = translations
---

<div
  class="hidden group-data-[error]:block text-center"
  role="alert"
  data-form-error-msg
  data-default-error={contactForm.message.error}
  data-message-limit-reached-error={contactForm.message.messageLimitReached}
>
  {contactForm.message.error}
</div>
