---
import { Menu, X } from '@lucide/astro'
---

<button
  aria-label="Open menu"
  aria-expanded="false"
  class="text-stone-700 dark:text-stone-300 p-2 group"
>
  <X class="hidden h-6 w-6 group-aria-[expanded=true]:block" />
  <Menu class="block h-6 w-6 group-aria-[expanded=true]:hidden" />
</button>

<script type="module">
  function init() {
    const menuButton = document.querySelector(
      '[aria-label="Open menu"], [aria-label="Close menu"]'
    )
    const mobileNavigation = document.querySelector(
      '[aria-label="Mobile navigation"]'
    )
    menuButton.addEventListener('click', () => {
      const isOpen = menuButton.getAttribute('aria-expanded') === 'true'
      menuButton.setAttribute('aria-label', `${isOpen ? 'Close' : 'Open'} Menu`)
      menuButton.setAttribute('aria-expanded', !isOpen)
      mobileNavigation.classList.toggle('hidden')
    })
  }

  document.addEventListener('astro:page-load', init)
</script>
