---
import { Moon, Sun } from '@lucide/astro'
---

<button
  class="group p-2 rounded-lg transition-colors border border-stone-200 dark:border-stone-600 text-stone-700 dark:text-stone-300 hover:bg-stone-100 dark:hover:bg-stone-700"
  aria-label="Switch to dark mode"
  data-theme="light"
>
  <Moon class="hidden h-5 w-5 dark:block" />
  <Sun class="h-5 w-5 dark:hidden" />
</button>

<script type="module">
  const init = () => {
    const savedTheme = localStorage.getItem('cliffrise-theme')
    const themeSwitcherButton = document.querySelector(
      '[data-theme="light"]',
      '[data-theme="dark"]'
    )
    const element = document.documentElement

    element.className = savedTheme

    themeSwitcherButton.addEventListener('click', () => {
      const isDark = themeSwitcherButton.dataset.theme === 'dark'
      const newTheme = isDark ? 'light' : 'dark'
      themeSwitcherButton.setAttribute(
        'aria-label',
        `Switch to ${newTheme} mode`
      )
      themeSwitcherButton.dataset.theme = newTheme
      element.className = newTheme
      localStorage.setItem('cliffrise-theme', newTheme)
    })
  }

  document.addEventListener('astro:page-load', init)
</script>
