---
import { getLang, getTranslations } from '@utils/i18'

const { footer, theCause } = getTranslations(Astro.params)
---

<footer id="footer" class="relative h-[75vh] md:h-[50vh] landscape:h-[50vh]">
  <div
    id="contact-us"
    class:list={{
      'flex flex-col items-center justify-center h-2/6': true,
      'landscape:flex-row md:flex-row landscape:ml-10 landscape:md:ml-20 landscape:md:mt-20': true,
    }}
  >
    <span
      class="text-xl md:text-2xl xl:text-4xl landscape:mb-0 md:mr-3 landscape:mr-4 text-center font-bold"
      >{footer.supportClimbing}</span
    >
    <h1
      class="nafta-brush text-[45px] md:text-[55px] lg:text-[80px] mb-2 md:mr-7 leading-15 md:leading-20"
    >
      {theCause}
    </h1>
    <button
      data-open-contact-form-modal
      class="bg-black text-white px-4 py-2 lg:px-6 md:py-3 text-base md:text-lg lg:text-2xl"
      >{footer.contactUs}</button
    >
  </div>
  <div
    class:list={{
      'bg-[url(/assets/mobile/footer.svg)] sm:bg-[url(/assets/footer.svg)] bg-no-repeat bg-cover': true,
      'w-full absolute h-4/6 bottom-0': true,
      'landscape:h-full': true,
      'flex items-end justify-end': true,
      '-z-1': true,
    }}
  >
    <div
      class="flex flex-col landscape:flex-row justify-between w-full p-5 items-end gap-3"
    >
      <span class="text-white order-1 landscape:order-0"
        >{footer.copyright}</span
      >
      <div class="flex gap-3">
        <a
          href="https://www.facebook.com/profile.php?id=61574708947472"
          target="_blank"
        >
          <img class="size-[25px]" alt="Facebook" src="/logos/facebook.svg" />
        </a>
        <a href="https://www.instagram.com/_cliffrise/" target="_blank">
          <img class="size-[25px]" alt="Instagram" src="/logos/insta.svg" />
        </a>
      </div>
    </div>
  </div>
</footer>

<script>
  document.addEventListener('astro:page-load', () => {
    const button = document.querySelector('[data-open-contact-form-modal]')
    const dialog =
      document.querySelector<HTMLDialogElement>('#contactFormModal')

    if (button && dialog) {
      button.addEventListener('click', () => {
        dialog.showModal()
        document.body.classList.add('overflow-hidden')
      })

      const handleClose = () => {
        document.body.classList.remove('overflow-hidden')
      }

      dialog.addEventListener('close', handleClose)
      dialog.addEventListener('cancel', handleClose)
    }
  })
</script>
