---
import { getLang, getTranslations } from '@utils/i18'
import { getImage } from 'astro:assets'
import CauseTitleEn from '../assets/titles/en/cause-title.svg'
import CauseTitleBg from '../assets/titles/bg/cause-title.svg'

const lang = getLang(Astro.params)

const causeTitle = await getImage({
  src: lang === 'bg' ? CauseTitleBg : CauseTitleEn,
  widths: [200, 400],
  formats: ['avif', 'webp', 'png'],
  quality: 80,
  alt: 'Cause Title',
})

const { footer } = getTranslations(Astro.params)
---

<footer id="footer" class="relative h-[75vh] md:h-[50vh] landscape:h-[50vh]">
  <div
    class:list={{
      'flex flex-col items-center justify-center h-2/6': true,
      'landscape:flex-row landscape:ml-10 landscape:md:ml-20 landscape:md:mt-20 landscape:lg:ml-45': true,
    }}
  >
    <span
      class="text-xl md:text-2xl mb-1 landscape:mb-0 landscape:mr-2 text-center font-bold"
      >{footer.supportClimbing}</span
    >
    <img
      class="h-[50px] lg:h-[70px] w-fit mb-5 landscape:mb-0 landscape:mr-5 lg:landscape:mr-10"
      src={causeTitle.src}
      {...causeTitle.attributes}
    />
    <button
      data-open-contact-form-modal
      class="bg-black text-white px-4 py-2 lg:px-6 md:py-3 text-base md:text-lg lg:text-2xl"
      >{footer.contactUs}</button
    >
  </div>
  <div
    class:list={{
      'bg-[url(/assets/mobile/footer.svg)] sm:bg-[url(/assets/footer.svg)] bg-no-repeat bg-cover': true,
      'w-full absolute h-4/6 bottom-0': true,
      'landscape:h-full': true,
      'flex items-end justify-end': true,
      '-z-1': true,
    }}
  >
    <div
      class="flex flex-col landscape:flex-row justify-between w-full p-5 items-end gap-3"
    >
      <span class="text-white order-1 landscape:order-0"
        >{footer.copyright}</span
      >
      <div class="flex gap-3">
        <a
          href="https://www.facebook.com/profile.php?id=61574708947472"
          target="_blank"
        >
          <img class="size-[25px]" alt="Climber" src="/assets/facebook.svg" />
        </a>
        <a href="https://www.instagram.com/_cliffrise/" target="_blank">
          <img class="size-[25px]" alt="Climber" src="/assets/insta.svg" />
        </a>
      </div>
    </div>
  </div>
</footer>

<script>
  document.addEventListener('astro:page-load', () => {
    const button = document.querySelector('[data-open-contact-form-modal]')
    const dialog =
      document.querySelector<HTMLDialogElement>('#contactFormModal')

    if (button && dialog) {
      button.addEventListener('click', () => {
        dialog.showModal()
        document.body.classList.add('overflow-hidden')
      })

      const handleClose = () => {
        document.body.classList.remove('overflow-hidden')
      }

      dialog.addEventListener('close', handleClose)
      dialog.addEventListener('cancel', handleClose)
    }
  })
</script>
