---
import { Image, getImage } from 'astro:assets'
import { getLang, getTranslations } from '@utils/i18'
import ProductsTitleEn from '../assets/titles/en/products-title.svg'
import ProductsTitleBg from '../assets/titles/bg/products-title.svg'
import Logo from '../../public/assets/logo.svg'

const productsTitleImg = await getImage({
  src: getLang(Astro.params) === 'bg' ? ProductsTitleBg : ProductsTitleEn,
  formats: ['avif', 'webp', 'png'],
  quality: 100,
  alt: 'Products with mission',
})

const { heroTitle } = getTranslations(Astro.params)
---

<section
  class="w-full bg-[url(/assets/mobile/hero.svg)] sm:bg-[url(/assets/hero.svg)] bg-no-repeat bg-cover pt-5 pb-20 sm:pb-30 landscape:pb-20 landscape:lg:pb-35 mt-[-1px]"
>
  <div class="relative max-w-[1440px] mx-auto px-4 sm:px-6 lg:px-8">
    <div
      class="flex flex-col lg:flex-row landscape:flex-row justify-evenly items-center gap-5 mt-10"
    >
      <Image
        class="max-w-[120px] lg:max-w-[250px] h-auto"
        alt="CliffRise Logo"
        src={Logo}
      />

      <div
        class="flex flex-col gap-3 items-center lg:items-start landscape:items-start"
      >
        <img
          class="w-full max-w-[300px] lg:max-w-[500px] lg:w-auto h-auto"
          src={productsTitleImg.src}
          {...productsTitleImg.attributes}
        />
        <p
          class="font-normal text-white lg:text-xl leading-relaxed max-w-xl lg:mx-0 lg:ml-auto text-center landscape:text-left"
        >
          {heroTitle}
        </p>
      </div>
    </div>
  </div>
  <img
    class="hidden lg:block absolute bottom-0 right-12 xl:right-24 w-[99px] h-auto max-h-[600px]"
    alt="Climber"
    src="/assets/climber 1.svg"
  />
</section>
